body {
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	background: url(http://a2.espncdn.com/prod/assets/bg_generic_rust.jpg);
	background-repeat: repeat-x;
	background-color: rgb(242, 242, 242);
}

li {
	padding-top: 2px;
	padding-bottom: 2px;
}

li:first-child {
	padding-top: 0px;
}

ul {
	padding-left: 30px;
}

.analysis {
	border-left: 1px solid lightgrey;
	padding-left: 3px;
}

.big {
	font-size: 0px;
}

.big-footer {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 12px;
	position: relative;
	box-sizing: border-box;
	padding: 15px;
}

.big-footer-credit {
	position: absolute;
	top: 5px;
	right: 11px;
	color: #ababab;
	font-size: 9px;
}

.big-footer-title {
	font-size: 30px;
	margin-bottom: 5px;
}

.big-footer-links {
	display: inline-block;
	padding-right: 5px; 	
}

.big-footer-links a {
	color: #669dd6;
	text-decoration: none;
}

.big-footer-links a:hover {
	text-decoration: underline;
} 

.big-footer-text {
	display: inline-block;
}

.big-image {
	width: 100%;
}

.carousel {
	display: inline-block;
	width: 64%;
	font-size: 14px;
}

.carousel-subheaders {
	display: inline-block;
  	width: 19%;
  	padding-left: 1.2%;
  	padding-top: 9px;
  	font-size: 0px;
  	vertical-align: top;
}

.carousel-subheaders:hover .subheader-subtitle {
	display: block;
	position: relative;
	bottom: 10px;
}

.carousel-subheaders:hover .subheader-title {
	display: inline-block;
	position: relative;
	bottom: 10px;
}

.carousel-subheaders:hover .play {
	display: block;
}

.carousel-subheaders:first-child {
	padding-left: 0px;
}

.carousel-subheaders-wrap {
	width: 100%;
	box-sizing: border-box;
}

.carousel-subheaders-wrap:first-child {
	padding-left: 0px;
}

.content {
	width: 68%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	background-color: white;
}

.glyph {
	padding-left: 3px;
}

.highlights {
	display: inline-block;
	width: 35%;
	font-size: 11px;
	vertical-align: top;
	font-family: verdana, sans-serif;
}

.highlights a {
	color: black;
	text-decoration: none;
}

.highlights a:hover {
	color: blue;
	text-decoration: underline;
}

.highlights a:visited {
	color: #888;
	text-decoration: none;
}

.image-wrap:hover {
	background-color: black;
	opacity: .5;
}

.play {
	display: none;
	height: 22px;
	width: 22px;
	position: absolute;
	bottom: 50%;
	left: 40%;
	border-radius: 50%;
}

.play:hover {
	background-color: rgba(0, 0, 0, 1);
}

.subheader {
	display: inline-block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.subheader a {
	text-decoration: none;
}

.subheader-image {
	width: 100%;
}

.subheader-title {
	display: inline-block;
	color: white;
	background-color: black;
	font-size: 10px;
	font-family: verdana, sans-serif;
  	font-weight: 400;
  	line-height: 10px;
  	bottom: 2px;
  	width: 100%;
}

.subheader-subtitle {
	font-family: verdana, sans-serif;
	font-weight: 400;
	font-size: 10px;
	display: inline-block;
	bottom: 2px;
	color: white;
	background-color: black;
	line-height: 10px;
	width: 100%;
	display: none;
	color: #aaa;
}

.topics {
	background-color: rgb(230, 230, 230);
}

.topic-item {
	display: inline-block;
	font-size: 11px;
	line-height: 8px;
	position: relative;
  	bottom: 12px;
  	font-family: Helvetica, sans-serif;
  	font-weight: bold;
  	font-style: italic;
  	color: #333;
  	padding-left: 25px;
  	padding-right: 25px;
  	border-right: 1px solid grey;
}	

.topic-item:hover {
	color: red;
}

.topic-item:last-child {
	border-right: none;
}

@media (max-width: 1345px) {
  .topic-item {
  	padding-left: 1%;
  	padding-right: 1%;
  }
}

@media (max-width: 1190px) {

	.subheader-subtitle {
		font-size: 15px;
		line-height: 15px;
	}

	.subheader-title {
		font-size: 15px;
		line-height: 15px;
	}

	.play {
		left: 46%;
		height: 25px;
		width: 25px;
	}

	.topics {
		margin: auto;
		text-align: center;
	}

	.topic-image {
		margin-bottom: 20px;
	}

	.topic-item {
  		padding-top: 15px;
  		padding-bottom: 15px;
  		display: block;
  	}

  	.carousel-subheaders {
  		width: 50%;
  		padding-left: 0px;
  		padding
  	}

}

@media (max-width: 900px) {

	.highlights {
		display: block;
		width: 100%;
	}

	.carousel {
		width: 100%;
	}

	.content {
		width: 90%
	}

	.play {
		left: 46%;
		height: 30px;
		width: 30px;
	}


}

@media (max-width: 600px) {
	.content {
		width: 100%;
		margin-top: 0px;
	}
}



