.big {
	font-size: 0px;
}

.big-image {
	width: 100%;
}

.big-footer {
	height: 100px;
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 12px;
	position: relative;
	box-sizing: border-box;
	padding: 15px;
}

.big-footer-credit {
	position: absolute;
	top: 5px;
	right: 11px;
	color: #ababab;
	font-size: 9px;
}

.big-footer-title {
	font-size: 30px;
	margin-bottom: 5px;
}

.big-footer-links {
	display: inline-block;
}

.big-footer-text {
	display: inline-block;
}

body {
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	background: url(http://a2.espncdn.com/prod/assets/bg_generic_rust.jpg);

}

.carousel {
	display: inline-block;
	width: 64%;
	font-size: 14px;
}

.carousel-subheaders {
	display: inline-block;
	width: 9%;
  	padding-left: 67px;
  	padding-top: 9px;
}

.carousel-subheaders:first-child {
	padding-left: 0px;
}

.carousel-subheaders-wrap {
	width: 100%;
	box-sizing: border-box;
}

.carousel-subheaders-wrap:first-child {
	padding-left: 0px;
}



.content {
	width: 68%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

.highlights {
	display: inline-block;
	width: 35%;
	font-size: 14px;
	vertical-align: top;
}

.subheader {
	display: inline-block;
	position: relative;

}

.subheader-title {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: black;
	font-family: verdana,arial,sans-serif;
  	font-size: 10px;
  	font-weight: 400;
  	line-height: 10px;
  	bottom: 2px;
  	width: 100%;
}

.subheader-subtitle {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: black;
	width: 100%;
}


.topics {
	background-color: rgb(230, 230, 230);
}

.topic-item {
	display: inline-block;
	font-size: 13px;
	line-height: 8px;
	position: relative;
  	bottom: 12px;
  	font-family: Helvetica, sans-serif;
  	font-weight: bold;
  	font-style: italic;
  	color: #333;
  	padding-left: 25px;
  	padding-right: 25px;
  	border-right: 1px solid grey;
}	

.topic-item:last-child {
	border-right: none;
}

