<!DOCTYPE html>
<html ng-app="sportsApp">
  <head>
    <title>ESPN</title>
    <link href="index.css" rel="stylesheet"/>
    <script src="libs/underscore.js"></script>
  </head>
  <body>

    <script src="libs/angular.js"></script>
    <script src="index.js"></script>

    <div class="content">
      <div class="topics" ng-controller="TopicsController">
        <img src="http://a2.espncdn.com/i/sctrends/logo-sc-trends2.png"/>
        <div ng-repeat="item in data" class="topic-item">
        {{item.text}}
        </div>
      </div>

      <div class="carousel" ng-controller="CarouselController">
        <div class="big">
          <img class="big-image" src="{{data[0].big.background}}"/>
          <div class="big-footer">
            <div class="big-footer-title">{{data[0].big.title}}</div>
            <div class="big-footer-text">{{data[0].big.text}}</div>
            <div class="big-footer-links" ng-repeat="link in data[0].big.links">
              <a href="{{link.url}}">{{link.text}}</a>
            </div>

            <div class="big-footer-credit">{{data[0].big.credit}}</div>

          </div>
        </div>

        <div class="carousel-subheaders" ng-repeat="item in data">
          <div class="subheader">
            <img src="{{item.small.background}}"/>
            <div class="subheader-title">{{item.small.title}}</div>
            <div class="subheader-subtitle">{{item.small.subtitle}}</div>
          </div>
        </div>

      </div>

      <div class="highlights" ng-controller="HighlightsController">
        <ul ng-repeat="item in data">
          <li><a href="{{item.url}}">{{item.text}}</a><img src="{{item.glyph}}"/>
            <a href="{{item.analysis.url}}">{{item.analysis.text}}</a>
          </li>
        </ul>
      </div>

     
      
    </div>
    
  </body>
</html>